.chat-top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-top span {
    width: 33%;
    text-align: center;
    margin-left: 70px;
    font-size: 23px;
}

.chat-top__icon i {
    margin-left: 20px;
} 

.timestamp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.timestamp span {
    display: flex;
    font-size: 15px;
    background-color: rgb(94, 94, 94);
    border-radius: 20px;
    padding: 10px;
}

.my-talk {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 30px;
}

.my-talk span:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 12px;
}

.my-talk span:last-child {
    background-color: rgba(250, 192, 67, 0.877);
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border-top-right-radius: 0px;
    font-size: 22px;
    margin-left: 20px;
}

.ino-talk {
    display: flex;
    margin-top: 30px;
}

.ino-talk img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.ino-talk__info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ino-talk__info span:first-child {
    font-size: 14px;
    opacity: 0.7;
    padding-bottom: 10px;
}

.ino-talk__info span:last-child {
    background-color: rgb(204, 59, 59);
    padding: 10px;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 3px;
}

.reply i {
    color: black;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
}

.reply .reply__column:first-child {
    width: 10%;
}


.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply i {
    opacity: 0.5;
}
.reply input {
    padding: 12px;
    width: 100%;
    border: var(--sub-color);
    border-radius: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -3px;
    top: 7px;
}

.reply__column:last-child > i {
    right: 40px;
    top: 12px;
}

.reply__column button {
    background-color: var(--sub-color);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.mainchat {
    animation: fadein 1s ease-in-out forwards;
}